/* ################# */
/* ##### VARIABLES ######## */
/* ################# */

:root {
  /* ### Primary */

  --Bright-Blue: hsl(220, 98%, 61%);
  --BackgroundGradient: linear-gradient hsl(192, 100%, 67%) to
    hsl(280, 87%, 65%);
  --transitions: all 300ms ease-in-out;
  /* ### Light Theme */

  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  --DVeryDarkBlue: hsl(235, 21%, 11%);
  --DVeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --DLightGrayishBlue: hsl(234, 39%, 85%);
  --DLightGrayishBlueHover: hsl(236, 33%, 92%);
  --DDarkGrayishBlue: hsl(234, 11%, 52%);
  --DVeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --DVeryDarkGrayishBlue2: hsl(237, 14%, 26%);
}
/* ################# */
/* ##### DARK THEME ######## */
/* ################# */
.dark {
  transition: var(--transitions);
  background-color: var(--DVeryDarkDesaturatedBlue);
  color: var(--DLightGrayishBlue);
}
.dark-body {
  transition: var(--transitions);
  background-color: var(--DVeryDarkBlue);
  background-image: url(../images/bg-desktop-dark.jpg);
}
.dark-SVG {
  transition: var(--transitions);
  cursor: pointer;
  background-image: url(../images/icon-sun.svg);
  width: 1.625rem;
  height: 1.625rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.dark-circle {
  transition: var(--transitions);
  border: 2px solid var(--DVeryDarkGrayishBlue2);
}
.section-dark{
  text-transform: capitalize;
}
/* ################# */
/* ##### LIGHT THEME ######## */
/* ################# */
.light {
  transition: var(--transitions);
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkGrayishBlue);
}
.light-body {
  transition: var(--transitions);
  background-color: var(--VeryLightGray);
  background-image: url(../images/bg-desktop-light.jpg);
}
.light-SVG {
  transition: var(--transitions);
  background-image: url(../images/icon-moon.svg);
  cursor: pointer;
  width: 1.625rem;
  height: 1.625rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.light-circle {
  transition: var(--transitions);
  border: 2px solid var(--VeryLightGrayishBlue);
}
.light-input {
  transition: var(--transitions);
  color: var(--VeryDarkGrayishBlue);
  font-weight: 400;
}
.section-light{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* ################# */
/* ##### GLOBALS ######## */
/* ################# */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--VeryLightGray);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.875rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0.625rem;
}
.container {
  max-width: 33.75rem;
  margin: auto;
}

/* ################# */
/* ##### HEADER ######## */
/* ################# */

.heading {
  padding-top: 4.875rem;
  padding-bottom: 3.125rem;

  display: flex;
  justify-content: space-between;
}
.heading h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
}
.form-div {
  position: relative;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
}
#input-form {
  display: flex;
  width: 100%;
  height: 100%;
}
.btn-block {
  width: 4.5rem;
  height: 4.0625rem;
  position: relative;
  padding: 1.25rem 1.4375rem;
}
.form-div .btn {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.inner-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
}
input:focus {
  outline: none;
}
::placeholder {
  color: var(--DDarkGrayishBlue);
  opacity: 1; /*Firefox*/
}
.task-input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

/* ################# */
/* ##### CONTENT SECTION ######## */
/* ################# */


section {
  margin-top: 1.5625rem;
  border-radius: 5px;
  overflow: hidden;
}
.task-item {
  display: flex;
  align-items: center;
}

.item-desc {
  width: 100%;
  padding: 1.25rem 1.4375rem 1.25rem 0;
  text-align: left;
}
