*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/bg-desktop-dark.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.875rem;
    background-color: black;
}
.container{
    max-width: 33.75rem;
    margin: auto ;
    background-color: black;
}